@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-varient dark(&:where( .dark, .dark *))

*{
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}
